doctype html
head
  title Login V1
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='../static/images/icons/favicon.ico')
  link(rel='stylesheet' type='text/css' href='static/main.css')
  link(rel="stylesheet" href="../static/css/style.css")
  link(rel="stylesheet" href="../static/css/responsive.css")
  
  
  script(src='https://kit.fontawesome.com/a076d05399.js')
body
  nav.navbar.footer.h-nav-resp
    ul.nav-list.v-class-resp
      .logo
        img(src="../static/img/1.png" alt="logo")
      li
        a(href="#") Home
      li
            a(href="/#events") Events
      li
        a(href="/#team") Team
      li
        a(href="/#about") About
    .burger
      .line
      .line
      .line
  .limiter
    .container-login100
      .wrap-login100
        .login100-pic.js-tilt(data-tilt='')
          img(src='../static/images/img-01.png' alt='IMG')
        form.login100-form.validate-form(action= "/login", method= "post", class= "myForm")
          span.login100-form-title
            | Member Login
          .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
            input.input100(type='text' name='email' placeholder='Email')
            span.focus-input100
            span.symbol-input100
              i.fa.fa-envelope(aria-hidden='true')
          .wrap-input100.validate-input(data-validate='Password is required')
            input.input100(type='password' name='password' placeholder='Password')
            span.focus-input100
            span.symbol-input100
              i.fa.fa-lock(aria-hidden='true')
          .container-login100-form-btn
            button.login100-form-btn
              | Login
            .text-center.p-t-12
              a.txt2(href='/')
                | Visit NSS Website
                i.fa.fa-long-arrow-alt-right.m-l-5(aria-hidden='true')
            
  script.
    $('.js-tilt').tilt({
    scale: 1.1
    })
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-23581568-13');
  script(src='js/main.js')
  footer.footer
    p.text-footer
      | Copyright © - NSS UIET - All rights reserved
      br
      | Created by - Nitish Gupta
  script(src="../static/js/resp.js")
  