@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
*{
	box-sizing: border-box;
}

.team-section100{
	background-color:#c5c5c5;
	/* min-height: 100vh; */
	padding:70px 15px 60px;
}

.container100{
	max-width: 1170px;
	margin:auto;
}

.row100{
	display: flex;
	flex-wrap: wrap;
}

.team-section100 .section-title100{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section100 .section-title100 h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

.team-section100 .section-title100 p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section100 .team-items100{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section100 .team-items100 .item100{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section100 .team-items100 .item100 img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section100 .team-items100 .item100 .inner100{
	position: relative;
	z-index: 4;
	padding:0 15px;
}
.team-section100 .team-items100 .item100 .inner100 .info100{
	background-color:#000000;
	text-align: center;
	padding: 7px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section100 .team-items100 .item100:hover  .info100{
    transform: translateY(-20px);
}
.team-section100 .team-items100 .item100:hover{
 transform: translateY(-10px);	
}
.team-section100 .team-items100 .item100 .inner100 .info100 h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section100 .team-items100 .item100 .inner100 .info100 p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section100 .team-items100 .item100 .inner100 .info100 .social-links100{
	padding-top: 15px;
}

.team-section100 .team-items100 .item100 .inner100 .info100 .social-links100 a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color:#009688;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section100 .team-items100 .item100 .inner100 .info100 .social-links100 a:hover{
	box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
	.team-section100 .team-items100 .item100{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section100 .team-items100 .item100{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}





























