@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}
/* .logo100{
    width:220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo100 img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}
.navbar100{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* position: sticky;
    top:0;
    cursor: pointer;
    z-index: 5;    
}

.nav-list100{
    width: 70%; 
    display: flex; 
    align-items: center;
}

.nav-list100 li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list100 li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list100 li a:hover{ 
    color: rgb(197, 194, 194);
}

.rightNav100{ 
    width: 30%;
    text-align: right;
    padding: 0 23px;
} */ 

#search100{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background100{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection100{
    height: 100vh;
}

.box-main100{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
        height: 80%;
}

.firstHalf100{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf100{
    width: 30%;
}

.secondHalf100 img{
    width: 70%; 
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big100{
    font-size: 41px;
}

.text-small100{
    font-size: 18px;
}

.btn100{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sm100{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark100{
    color: black;
        border: 2px solid grey;

}
.section100{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    background: burlywood;
    margin-bottom: 7px;
    border-radius: 33px;
}
.about-bg100{
    background-color: cornsilk;
}
#about{
    /* padding: 0 0 15px; */
    margin: 48px 0;
}


.section-left100{
    flex-direction: row-reverse;
}

.paras100{
    padding: 0px 65px;
}

.sectionTag100{
    padding: 16px 0;
}

.sectionSubTag100{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail100 img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.thumbnail-team100 img{
    width: 150px;
    border: 2px solid black;
    border-radius: 150px;
    margin-top: 19px;
}

.contact100{
    background-color: #f6f5f4;
    height: 533px;
    padding-top: 43px;
}
.text-center100{

    text-align: center;
    padding-top: 30px;
   font-family: 'Ubuntu', sans-serif;
       font-size: 35px;
}

.form100{
    max-width: 62%;
    margin: 25px auto;
}

.form-input100{
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%; 
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer100{
    text-align: center;
    padding: 30px 0;
   font-family: 'Ubuntu', sans-serif; 
   display: flex;
   justify-content: center;
   color: white;
   
}

.burger100{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line100{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}


#team100{
    padding-top: 58px;
}

.eventnssheading1100 {
	margin: 20px 0px;
	text-align: center;
	margin-top: 0;
	/* padding-top: 80px; */
}
#events{
    margin: 46px 0;
}
.teamnssh1100{
    margin: 20px 0px;
    text-align: center;
    /* background-color: black; 
    color: rgb(255, 255, 255); */
    margin-top: 0;
    padding: 1px;
    border-radius: 18px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.aboutnssh1100{
    margin: 20px 0px;
    text-align: center;
    /* background-color: black; 
    color: rgb(255, 255, 255); */
    margin-top: 0;
    padding: 1px;
    width: 79%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 25px;
    border-radius: 18px;

}
.footer100{
    background-color: black;
}
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}